/* Don Seo, Pretty About You, style.css, 9/4/2019 */
	body {background-color:#f2e6ff;}
	footer {background-color:#f2e6ff;}
	p {background-color:#f2e6fg;}
	h1 {font-family:arial; font-size:50px;}
	h2 {font-familly:arial; font-size:50px;}
	p {text-align: center;}
	body {text-align: center;}
	p {font-color: #e6e6ff;}